version: '3.8'

services:
  n8n:
    image: n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=test
      - N8N_BASIC_AUTH_PASSWORD=test123
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - NODE_ENV=development
    volumes:
      - ./.n8n:/home/node/.n8n

  odoo:
    image: odoo:16.0
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - ./odoo_filestore:/var/lib/odoo/filestore

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
    volumes:
      - ./pgdata:/var/lib/postgresql/data
